{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carrieres list</h1>

    <table width="70%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Grade</th>
                <th>Fonction</th>
                <th>Naturedeservice</th>
                <th>Cotisationregler</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carriere in carrieres %}
            <tr>
                <td><a href="{{ path('affilier_carriere_show', { 'id': carriere.id }) }}">{{ carriere.id }}</a></td>
                <td>{% if carriere.dateDebut %}{{ carriere.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if carriere.dateFin %}{{ carriere.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ carriere.grade }}</td>
                <td>{{ carriere.fonction }}</td>
                <td>{{ carriere.natureDeService }}</td>
                <td>{{ carriere.cotisationRegler }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('affilier_carriere_show', { 'id': carriere.id }) }}">show</a>
                        </li>
                        {#<li>
                            <a href="{{ path('affilier_carriere_edit', { 'id': carriere.id }) }}">edit</a>
                        </li>#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('affilier_page') }}">Espace affiler</a>
        </li>
    </ul>
{#
    <ul>
        <li>
            <a href="{{ path('affilier_carriere_new') }}">Create a new carriere</a>
        </li>
    </ul>#}
{% endblock %}
