{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carriere</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carriere.id }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if carriere.dateDebut %}{{ carriere.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if carriere.dateFin %}{{ carriere.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ carriere.grade }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ carriere.fonction }}</td>
            </tr>
            <tr>
                <th>Naturedeservice</th>
                <td>{{ carriere.natureDeService }}</td>
            </tr>
            <tr>
                <th>Cotisationregler</th>
                <td>{{ carriere.cotisationRegler }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('affilier_carriere_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('affilier_carriere_edit', { 'id': carriere.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
