<h1>HELLO Affilier</h1>
<a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a><br><br>
<lu>
    <li>
        <a href="{{ path('affilier_carriere_index') }}">Consulter Carriere</a>
    </li>
</lu>
<br>
<lu>
    <li>
        <a href="{{ path('fos_user_profile_show') }}">Consulter Profile</a>
    </li>
</lu>