
{% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<link href="{{ asset('css/form_flow.css') }}" rel="stylesheet" type="text/css" />

<div  class="flow-steps">

    Steps:

    {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
    <ul>
        <li>
            <a href="{{ path('organisation_page') }}">back home</a>
        </li>
    </ul>
</div>
{{ form_start(form, {'action': path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')), 'attr': {'class': 'flow-form'}}) }}
<fieldset>
	{{ form_errors(form) }}

	{% if flow.getCurrentStepNumber() == 1 %}
        <div>
            <br />
            {{ form_row(form.name) }}
        </div>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 3 %}
        {{ 'Make sure that all information is correct. If not, go back to make changes.' | trans }}
        <br />
        <dl>
            <dt>{{ 'name' | trans }}:</dt>
            <dd>{{ flow.formData.name }}</dd>

            {% if flow.formData.username is not empty %}
                <dt>{{ 'username' | trans }}:</dt>
                <dd>{{ flow.formData.username  }}</dd>
            {% endif %}
            <dt>{{ 'email' | trans }}:</dt>
            <dd>{{ flow.formData.email  }}</dd>
            <dt>{{ 'cin' | trans }}:</dt>
            <dd>{{ flow.formData.cin  }}</dd>
        </dl>
    {% endif %}


	{{ form_rest(form) }}

</fieldset>
{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
    craue_formflow_button_label_finish: 'submit',
    craue_formflow_button_label_reset: 'reset',
    craue_formflow_button_label_next: 'next >>>',
    craue_formflow_button_label_back: '<<< back'
} %}
{{ form_end(form) }}
