<h1>HELLO Organisation</h1>
<a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a>
<ul>
    <li>
       <a href="{{ path('organisation_user_index') }}">Consulter liste des affiliers</a>
    </li>
    <li>
        <a href="{{ path('organisation_user_new_affilier') }}">Demande d'immatriculation</a>
    </li>
</ul>