{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table width="40%" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>cin</th>
                <th>Date naissance</th>
                <th>Etat</th>
                <th>Numero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('organisation_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.dateNaissance|date('Y-m-d') }}</td>
                <td>
                    {% if user.etat == 0 %}
                        En attente
                    {% elseif user.etat == 1 %}
                        confirmer (en attente de validation)
                    {% else %}
                        valider
                    {% endif %}
                </td>
                <td>


                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organisation_user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        {% if user.etat == 0 %}
                       <li>
                            <a href="{{ path('organisation_user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('organisation_user_confirme', { 'id': user.id }) }}">Confirmer</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organisation_page') }}">back home</a>
        </li>
    </ul>
{#
    <ul>
        <li>
            <a href="{{ path('organisation_user_new') }}">Create a new user</a>
        </li>
    </ul>#}
{% endblock %}
