{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>UserName: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Last Login: {{ user.lastLogin|date('Y-m-d H:i:s') }}</p>
    <p>Organisation: {{ user.organisation|upper }}</p>
</div>
<ul>
    <li>
        <a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{ path('affilier_page') }}">Back Home</a>
    </li>
</ul>

